/* Universal Selector */
*{
    margin: 20px;
}

/* Type selector */
body{
    color: cadetblue;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Class selector */

/* class can have multiple values
    multiple tags can have same class */
.first{
    color:black;
}
.large{
    font-size: 30px;
}

/*  Id selector */

/* same id name can not be assigned to multiple tags */
#eklist{
    background-color: brown;
}

/* Attribute selector */
input[type="text"]{
    color: blue;
}
input[type="email"]{
    background-color: blue;
}

a[href="upflairs.com"]{
    color:red;
    text-decoration: none;
}

/* Pseudo selector */
.first:hover{
    color: white;
}