/* Color Styling in css */
/*  */
body{
    background-color:rgb(162,143,186);
}

.heading{
    background-color: #c9622a;
    width: 40%;
    height: 100px;
    /* margin: 100px 300px 30px 50px; /*TRBL */
    margin: 100px 200px;/* Vertical Horizontal*/
    /* margin: 30px; */
    /* margin-left: 30px; */
    /* padding: 30px; */
    padding-left: 30%;
}
.para{
    background-color: rgba(51,170,51,0.3);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Dimensions */
.box{
    background-color: aqua;
    width: 200px;
    height: 100px;
    /* font-size: x-large; */
    font-size: 2em; /*1em=16px*/
    /* font-size: 2.25rem; */
}
/* .first{
    width: 20px;
    height: 20px;
} */

/* Display and position */

img{
    width: 150px;
    height: 150px;
    border: 10px solid red;/*width style color*/
    border-radius: 50%;
}
h3{
    display: inline;
}
span{
    display: inline-block;
    width: 80px;
}
box{
    border-radius: 50%;
}
div{
    /* display: inline-block; */
    width: 100px;
    height: 100px;
}
.bbox1{
    background-color: red;
    /* position: relative; */
}
.bbox2{
    background-color: green;
    position: absolute;
    /* margin-block-end: -50px; */
}
.bbox3{
    background-color: blue;
    position: relative;
    bottom: -300px; 
    left: 50px; 
    margin-block-start: 50px;
}